<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Youtue App</title>
    <link rel="stylesheet" href="./public/style.css">
  </head>
  <body>
    <div id="content" class="content"></div>
    <script type="text/javascript" src="public/bundle.js"></script>
  </body>
</html>
