body{
  background-color: #e3e3e3;
}
.video{
  float: left;
  width: 50%;
}
.edit-video{
  float: right;
  width: 50%;
}
.liStyle{
  display: inline-block;
  width: 100%;
  border-bottom: 2px solid #d3d3d3;
}
.file-upload{
    margin-top: 50px;
}
.upload{
  margin-top: 30px;
  text-align: center;
  border-bottom: 2px solid black;
}
.login-input{
  height: 50px;
  width: 250px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 2px solid #001f3f;
  text-align: center;
}
.signup-button{
  background-color: #39CCCC;
  border:2px solid #001f3f;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 30px;
  width: 170px;
}
.signup-button:disabled{
  background-color: #FF4136;
  opacity: 0.5;
  color:black;
}
.info{
  text-decoration: underline;
  text-align: center;
}
